<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaoshangxing">

    <!-- 加入应用需要的权限 -->
    <!-- 网络相关 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 手机状态 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- 读写文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 多媒体 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- SDK权限申明, 第三方APP接入时，请将com.netease.nim.demo替换为自己的包名 -->
    <!-- 和下面的uses-permission一起加入到你的AndroidManifest文件中。 -->
    <permission
        android:name="com.xiaoshangxing.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />

    <!-- 接受SDK消息广播权限， 第三方APP接入时，请将com.netease.nim.demo替换为自己的包名 -->
    <uses-permission android:name="com.xiaoshangxing.permission.RECEIVE_MSG" />

    <application
        android:name=".utils.XSXApplication"
        android:allowBackup="true"
        android:icon="@mipmap/cirecleimage_default"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">

        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ewb5y1CEha88lk208jtDIr6VW0WPiywB" />

        <!-- IM -->
        <!-- <meta-data -->
        <!-- android:name="com.amap.api.v2.apikey" -->
        <!-- android:value="${AMAP_KEY}" /> -->

        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="b6624c9eff3223fb893beceb8cae401f" />

        <!-- <uses-library -->
        <!-- android:name="com.google.android.maps" -->
        <!-- android:required="false" /> -->
        <!-- Glide -->
        <meta-data
            android:name="com.xiaoshangxing.utils.image.MyGlideMoudle"
            android:value="GlideModule" />

        <!-- 百度地图 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <!-- 声明云信后台服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" />

        <!-- 运行后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" />

        <!-- 云信SDK的监视系统启动和网络变化的广播接收器，用户开机自启动以及网络变化时候重新登录 -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 云信进程间通信receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" />

        <!-- 申明自定义通知的广播接收器，第三方APP集成时，action中的com.netease.nim.demo请替换为自己的包名 -->
        <!-- 需要权限申明 <uses-permission android:name="com.netease.nim.demo.permission.RECEIVE_MSG"/> -->
        <!-- <receiver -->
        <!-- android:name=".receiver.CustomNotificationReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:na0me="com.netease.nim.demo.ACTION.RECEIVE_CUSTOM_NOTIFICATION" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- cosine -->
        <service
            android:name="com.netease.cosine.core.CosineService"
            android:process=":cosine" />

        <receiver
            android:name="com.netease.cosine.target.CosineReceiver"
            android:exported="true"
            android:process=":cosine" />

        <!-- cosine target SDK integrated -->
        <meta-data
            android:name="com.netease.cosine.target"
            android:value="" />
        <meta-data
            android:name="com.netease.cosine.target.receiver"
            android:value="com.netease.nimlib.service.NimReceiver" />

        <activity android:name=".login_register.StartActivity.FlashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_register.StartActivity.StartActivity">
        </activity>
        <activity android:name=".login_register.LoginRegisterActivity.LoginRegisterActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity android:name=".wo.PersonalState.PersonalStateActivity" />
        <activity
            android:name=".wo.PersonalState.DetailsActivity.DetailsActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity android:name=".wo.NewsActivity.NewsActivity" />
        <activity android:name=".wo.WoFrafment.check_photo.ImagePagerActivity" />
        <activity android:name=".wo.PersonalState.check_photo.myStateImagePagerActivity" />
        <activity android:name=".wo.roll.rollActivity" />
        <activity
            android:name=".report.ReportActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity android:name=".setting.SettingActivity" />
        <activity
            android:name=".setting.personalinfo.PersonalInfoActivity"
            android:launchMode="singleTask" />
        <activity android:name=".setting.feedback.FeedbackActivity" />
        <activity android:name=".setting.newNotice.NewNoticeActivity" />
        <activity android:name=".setting.mailboxbind.MailBoxBindActivity" />
        <activity android:name=".setting.privacy.PrivacyActivity" />
        <activity android:name=".setting.currency.CurrencyActivity" />
        <activity android:name=".setting.about.AboutActivity" />
        <activity android:name=".setting.modifypassword.ModifyPassWordActivity" />
        <activity android:name=".setting.mailboxbind.ModifyMailBoxActivity" />

        <!-- 互帮 -->
        <activity android:name=".xiaoshang.ShoolfellowHelp.ShoolfellowHelpActivity" />
        <activity android:name=".xiaoshang.ShoolfellowHelp.HelpDetail.HelpDetailActivity" />
        <activity android:name=".xiaoshang.ShoolReward.ShoolRewardActivity" />
        <activity android:name=".xiaoshang.ShoolReward.RewardDetail.RewardDetailActivity" />
        <activity
            android:name=".input_activity.InputActivity"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".input_activity.check_photo.inputSelectPhotoPagerActivity" />
        <activity android:name=".input_activity.check_photo.ReviewPictureActivity" />
        <activity android:name=".SelectPerson.SelectPersonActivity" />
        <activity android:name=".xiaoshang.MessageNotice.MessageNoticeActivity" />
        <activity android:name=".input_activity.album.AlbumActivity" />

        <!-- 遇见 -->
        <activity android:name=".yujian.personInfo.PersonInfoActivity" />
        <activity android:name=".yujian.personInfo.MoreInfoActivity" />
        <activity android:name=".yujian.personInfo.SetInfoActivity" />
        <activity android:name=".yujian.groupchatInfo.ChatInfoActivity" />
        <activity android:name=".yujian.groupchatInfo.groupCode.GroupCodeActivity" />
        <activity android:name=".yujian.groupchatInfo.groupName.GroupNameActivity" />
        <activity android:name=".yujian.groupchatInfo.groupNotice.GroupNoticeEditActivity" />
        <activity android:name=".yujian.groupchatInfo.groupNotice.GroupNoticeShowActivity" />
        <activity android:name=".yujian.groupchatInfo.groupMembers.GroupMembersActivity" />
        <activity android:name=".yujian.groupchatInfo.deleteMember.DeleteMemberActivity" />
        <activity android:name=".yujian.groupchatInfo.chooseNewGroupMaster.ChooseNewGroupMasterActivity" />
        <activity android:name=".setting.currency.chatBackground.ChatBackgroundActivity" />
        <activity android:name=".setting.personalinfo.TagView.TagViewActivity" />
        <activity android:name=".yujian.pearsonalTag.PeraonalTagActivity" />
        <activity android:name=".yujian.personChatInfo.PersonChatInfoActivity" />
        <activity android:name=".yujian.xiaoyou.XiaoYouActivity" />
        <activity android:name=".xiaoshang.schoolcalender.SchoolCalenderActivity" />
        <activity android:name=".xiaoshang.planpropose.PlanProposeActivity" />
        <activity android:name=".xiaoshang.idlesale.IdleSaleActivity" />
        <activity android:name=".xiaoshang.idlesale.SelectImageFromSd.AllPhotoActivity.AllIPhotosActivity" />
        <activity android:name=".xiaoshang.idlesale.SelectImageFromSd.AllPhotoActivity.SelectPhotoPagerActivity" />
        <activity android:name=".xiaoshang.idlesale.SelectImageFromSd.PreviewActivity" />
        <activity android:name=".xiaoshang.idlesale.SelectImageFromSd.ImageSelectActivity.ImageDirectoryActivity" />
        <activity android:name=".input_activity.Location.LocationActivity">
        </activity>
        <activity android:name=".xiaoshang.TextBoard" />
        <activity
            android:name=".input_activity.Location.SerchLocationActivity"
            android:theme="@style/global_search_bg"></activity>
        <activity
            android:name=".yujian.ChatActivity.ChatActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".yujian.ChatActivity.GroupActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".yujian.FriendActivity.FriendActivity"></activity>
        <activity android:name=".yujian.FriendActivity.LoveOrStartActivity"></activity>
        <activity android:name=".yujian.FriendActivity.GroupListActivity"></activity>
        <activity android:name=".yujian.WatchMessagePicture.WatchMessagePictureActivity"></activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- 全局搜索 -->
        <activity
            android:name=".yujian.Serch.GlobalSearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/global_search_bg"
            android:windowSoftInputMode="stateUnspecified" />
        <activity
            android:name=".yujian.Serch.GlobalSearchDetailActivity2"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 常规搜索 -->
        <activity
            android:name=".yujian.Serch.NormalSerch"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/global_search_bg"
            android:windowSoftInputMode="stateUnspecified" />
        <activity android:name=".setting.shiming.ShenheActivity" />
        <activity android:name=".setting.shiming.shenhe.XueShengZhenActivity" />
        <activity android:name=".setting.shiming.shenhe.XueShengKaActivity" />
        <activity android:name=".setting.shiming.shenhe.TongZhiShuActivity" />
        <activity android:name=".setting.shiming.vertify.VertifyShiMingActivity" />
        <activity android:name=".setting.shiming.vertify.XingBieActivity" />
        <activity android:name=".setting.shiming.chooseschool.DiQUActivity" />
        <activity
            android:name=".setting.shiming.shenhe.PreviewActivity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".setting.shiming.result.VertifySucessActivity" />
        <activity android:name=".setting.shiming.result.VertifyingActivity" />
        <activity android:name=".setting.shiming.chooseschool.SchoolActivity" />
        <activity
            android:name=".setting.shiming.vertify.VertifyActivity"
            android:launchMode="singleTask" />
        <activity android:name=".setting.shiming.vertify.NameActivity" />
        <activity android:name=".setting.shiming.vertify.XueHaoActivity" />
        <activity android:name=".setting.shiming.vertify.YearActivity" />
        <activity android:name=".setting.shiming.vertify.XueLiActivity" />
        <activity android:name=".setting.shiming.result.VertifyFailedActivity" />
        <activity android:name=".setting.shiming.vertify.XueXiaoActivity" />
        <activity
            android:name=".setting.shiming.vertify.XueYuanActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".setting.shiming.vertify.ZhuanYeActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".xiaoshang.Sale.SaleActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".xiaoshang.Sale.SaleDetail.SaleDetailsActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity android:name=".xiaoshang.Plan.PlanActivity"></activity>
        <activity android:name=".xiaoshang.Plan.PlanDetail.PlanDetailActivity"></activity>
        <activity android:name=".xiaoshang.Calendar.CalendarActivity"></activity>
        <activity android:name=".xiaoshang.Calendar.CalendarDetail"></activity>
        <activity android:name=".xiaoshang.Calendar.CalendarInputer.CalendarInputer"></activity>
        <activity android:name=".xiaoshang.Calendar.CalendarInput"></activity>
        <activity android:name=".setting.shiming.vertify.ApplyForSchool"></activity>

    </application>

</manifest>