<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaoshangxing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.XSXApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">

        <activity android:name=".login_register.StartActivity.FlashActivity">
            <!--         <intent-filter>
                         <action android:name="android.intent.action.MAIN" />

                         <category android:name="android.intent.category.LAUNCHER" />
                     </intent-filter>-->
        </activity>
        <activity android:name=".login_register.StartActivity.StartActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".login_register.LoginRegisterActivity.LoginRegisterActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->


            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".wo.myState.myStateActivity" />
        <activity
            android:name=".wo.myState.DetailsActivity.DetailsActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".wo.NewsActivity.NewsActivity" />
        <activity android:name=".wo.WoFrafment.check_photo.ImagePagerActivity" />
        <activity android:name=".wo.myState.check_photo.myStateImagePagerActivity" />
        <activity android:name=".wo.roll.rollActivity" />
        <activity
            android:name=".report.ReportActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".setting.personalinfo.PersonalInfoActivity"/>
        <activity android:name=".setting.feedback.FeedbackActivity" />
        <activity android:name=".setting.newNotice.NewNoticeActivity" />
        <activity android:name=".setting.mailboxbind.MailBoxBindActivity" />
        <activity android:name=".setting.privacy.PrivacyActivity" />
        <activity android:name=".setting.currency.CurrencyActivity" />
        <activity android:name=".setting.about.AboutActivity" />
        <activity android:name=".setting.modifypassword.ModifyPassWordActivity" />
        <activity android:name=".setting.mailboxbind.ModifyMailBoxActivity" />

        <!-- 互帮 -->
        <activity android:name=".xiaoshang.ShoolfellowHelp.ShoolfellowHelpActivity"></activity>
        <activity android:name=".xiaoshang.ShoolfellowHelp.HelpDetail.HelpDetailActivity"></activity>
        <activity android:name=".xiaoshang.ShoolReward.ShoolRewardActivity"></activity>
        <activity android:name=".xiaoshang.ShoolReward.RewardDetail.RewardDetailActivity"></activity>
        <activity
            android:name=".input_activity.InputActivity"
            android:windowSoftInputMode="stateVisible|adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".input_activity.check_photo.inputSelectPhotoPagerActivity"></activity>
        <activity android:name=".utils.photoChoosing.PhotoChoosingActivity"></activity>
        <activity android:name=".input_activity.check_photo.ReviewPictureActivity"></activity>
        <activity android:name=".SelectPerson.SelectPersonActivity"></activity>
        <activity android:name=".xiaoshang.MessageNotice.MessageNoticeActivity"></activity>
        <activity android:name=".input_activity.album.AlbumActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".TestActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>




       <!-- 遇见-->
        <activity android:name=".yujian.personInfo.PersonInfoActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".yujian.personInfo.MoreInfoActivity"/>
        <activity android:name=".yujian.personInfo.SetInfoActivity"/>

        <activity android:name=".yujian.chatInfo.ChatInfoActivity">
            <!--  <intent-filter>
                  <action android:name="android.intent.action.MAIN" />

                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>-->
        </activity>
        <activity android:name=".yujian.chatInfo.groupCode.GroupCodeActivity" />
        <activity android:name=".yujian.chatInfo.groupName.GroupNameActivity" />
        <activity android:name=".yujian.chatInfo.groupNotice.GroupNoticeEditActivity" />
        <activity android:name=".yujian.chatInfo.groupNotice.GroupNoticeShowActivity" />
        <activity android:name=".yujian.chatInfo.groupMembers.GroupMembersActivity" />
        <activity android:name=".yujian.chatInfo.deleteMember.DeleteMemberActivity" />
        <activity android:name=".yujian.chatInfo.chooseNewGroupMaster.ChooseNewGroupMasterActivity" />

        <activity android:name=".yujian.xiaoyou.XiaoYouActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>