<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaoshangxing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION">
    </uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE">
    </uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
    </uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE">
    </uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <application
        android:name=".utils.XSXApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ewb5y1CEha88lk208jtDIr6VW0WPiywB" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"></action>
            </intent-filter>
        </service>

        <activity android:name=".login_register.StartActivity.FlashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_register.StartActivity.StartActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".login_register.LoginRegisterActivity.LoginRegisterActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->


            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".wo.myState.myStateActivity" />
        <activity
            android:name=".wo.myState.DetailsActivity.DetailsActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->


            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".wo.NewsActivity.NewsActivity" />
        <activity android:name=".wo.WoFrafment.check_photo.ImagePagerActivity" />
        <activity android:name=".wo.myState.check_photo.myStateImagePagerActivity" />
        <activity android:name=".wo.roll.rollActivity" />
        <activity
            android:name=".report.ReportActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->


            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".setting.personalinfo.PersonalInfoActivity" />
        <activity android:name=".setting.feedback.FeedbackActivity" />
        <activity android:name=".setting.newNotice.NewNoticeActivity" />
        <activity android:name=".setting.mailboxbind.MailBoxBindActivity" />
        <activity android:name=".setting.privacy.PrivacyActivity" />
        <activity android:name=".setting.currency.CurrencyActivity" />
        <activity android:name=".setting.about.AboutActivity" />
        <activity android:name=".setting.modifypassword.ModifyPassWordActivity" />
        <activity android:name=".setting.mailboxbind.ModifyMailBoxActivity" />

        <!-- 互帮 -->
        <activity android:name=".xiaoshang.ShoolfellowHelp.ShoolfellowHelpActivity"></activity>
        <activity android:name=".xiaoshang.ShoolfellowHelp.HelpDetail.HelpDetailActivity"></activity>
        <activity android:name=".xiaoshang.ShoolReward.ShoolRewardActivity"></activity>
        <activity android:name=".xiaoshang.ShoolReward.RewardDetail.RewardDetailActivity"></activity>
        <activity
            android:name=".input_activity.InputActivity"
            android:windowSoftInputMode="stateVisible|adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".input_activity.check_photo.inputSelectPhotoPagerActivity"></activity>
        <activity android:name=".input_activity.check_photo.ReviewPictureActivity"></activity>
        <activity android:name=".SelectPerson.SelectPersonActivity"></activity>
        <activity android:name=".xiaoshang.MessageNotice.MessageNoticeActivity"></activity>
        <activity android:name=".input_activity.album.AlbumActivity"></activity>
        <activity android:name=".TestActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <!-- 遇见-->
        <activity android:name=".yujian.personInfo.PersonInfoActivity"></activity>
        <activity android:name=".yujian.personInfo.MoreInfoActivity" />
        <activity android:name=".yujian.personInfo.SetInfoActivity" />

        <activity android:name=".yujian.groupchatInfo.ChatInfoActivity"></activity>
        <activity android:name=".yujian.groupchatInfo.groupCode.GroupCodeActivity" />
        <activity android:name=".yujian.groupchatInfo.groupName.GroupNameActivity" />
        <activity android:name=".yujian.groupchatInfo.groupNotice.GroupNoticeEditActivity" />
        <activity android:name=".yujian.groupchatInfo.groupNotice.GroupNoticeShowActivity" />
        <activity android:name=".yujian.groupchatInfo.groupMembers.GroupMembersActivity" />
        <activity android:name=".yujian.groupchatInfo.deleteMember.DeleteMemberActivity" />
        <activity android:name=".yujian.groupchatInfo.chooseNewGroupMaster.ChooseNewGroupMasterActivity" />
        <activity android:name=".setting.currency.chatBackground.ChatBackgroundActivity" />
        <activity android:name=".setting.personalinfo.TagView.TagViewActivity" />
        <activity android:name=".yujian.pearsonalTag.PeraonalTagActivity" />
        <activity android:name=".yujian.personChatInfo.PersonChatInfoActivity" />

        <activity android:name=".yujian.xiaoyou.XiaoYouActivity"></activity>

        <activity android:name=".xiaoshang.schoolcalender.SchoolCalenderActivity" />
        <activity android:name=".xiaoshang.planpropose.PlanProposeActivity" />
        <activity android:name=".xiaoshang.idlesale.IdleSaleActivity" />
        <activity android:name=".xiaoshang.idlesale.SelectImageFromSd.AllPhotoActivity.AllIPhotosActivity" />
        <activity android:name=".xiaoshang.idlesale.SelectImageFromSd.AllPhotoActivity.SelectPhotoPagerActivity" />
        <activity android:name=".xiaoshang.idlesale.SelectImageFromSd.PreviewActivity" />
        <activity android:name=".xiaoshang.idlesale.SelectImageFromSd.ImageSelectActivity.ImageDirectoryActivity" />
        <activity android:name=".input_activity.Location.LocationActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->


            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".xiaoshang.TextBoard"></activity>
        <activity
            android:name=".input_activity.Location.SerchLocationActivity"
            android:theme="@style/global_search_bg">

        </activity>

    </application>


</manifest>